.back {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: rgb(63, 60, 60);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  text-decoration: none;
  color: black;
}
.topnav-left {
  padding-left: 20px;
}

.topnav-centered  {
  font-family: 'Playfair Display', serif;
  color: white;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.container1 {
  margin-top: 200px;
  margin-left: 90px;
  color: white;
}
.there {
  margin-left: 30px;
}

.container2 {
  top: 17%;
  left: 15%;
  position: absolute;
  display: none;
  color: white;

}
.container2 img {
  border: 1px solid ;
}

.container2 h1 {
  padding-top: 15px;
}
.container2 h6 {
  /* padding-top: 20px; */
  padding-left: 24px;
  color: white;
}


.example_d {
  color: #20bf6b !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.example_d:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}